<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <!--[if lte IE 8]>
  <script src="https://cdn.bootcss.com/es5-shim/4.5.9/es5-sham.min.js"></script>
  <script src="https://cdn.bootcss.com/es5-shim/4.5.9/es5-shim.min.js"></script>
  <![endif]-->
  <script src="../dist/js/es6/index.min.js"></script>
</body>
</html>
